{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <h1>Planning</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planning.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ planning.title }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ planning.location }}</td>
            </tr>
            <tr>
                <th>Show_date</th>
                <td>{{ planning.showDate ? planning.showDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('planning_index') }}">back to list</a>

    <a href="{{ path('planning_edit', {'id': planning.id}) }}">edit</a>

    {{ include('planning/_delete_form.html.twig') }}
{% endblock %}
